// Plugins

// BLOG

// Blog Search

.widget.blogsearch {
	margin-bottom: 2em;

	input {
		height: 40px;
		width: 100%;
		appearance: none;
		-moz-appearance: none;
		-webkit-appearance: none;
	}
}

// Blog Post List

.blog-post-list {
	.blog-post-item {
		margin-bottom: 2em;

		.blog-post-title,
		.blog-post-summary,
		.blog-post-more-link,
		.blog-post-date {
			margin-bottom: 15px;
			padding: 0;
		}

		.blog-post-title a {
			color: @font-swatch1-color;
			padding-bottom: 2em;
			text-decoration: none;

			.style--light & {
			  	color: @font-swatch1-color;
			}

			.style--accent & {
			  	color: @contrast--accent;
			}

			.style--dark & {
			  	color: @contrast--dark;
			}

			&:hover {
				color: @button-color;

				.style--light & {
				  	color: @button-color;
				}

				.style--accent & {
				  	color: @contrast--accent;
				}

				.style--dark & {
				  	color: @contrast--dark;
				}
			}
		}

		.blog-post-more-link,
		.blog-post-date {
			display: inline-block;
		}

		.blog-post-date {
			font-style: italic;
			color: @font-swatch5-color;
			float: right;
			text-decoration: none;

			.style--light & {
			  	color: @font-swatch5-color;
			}

			.style--accent & {
			  	color: lighten(@contrast--accent, 15%);
			}

			.style--dark & {
			  	color: lighten(@contrast--dark, 15%);
			}
		}
	}
}

// Single Blog Post

.blog-post-item {
	.blog-post-title {
		padding-bottom: 0.75em;
		padding-top: 0.5em;
	}

	.blog-post-tags li a,
	.blog-post-category a {
		padding: 0 0 0 5px;
		display: inline-block;
		margin-bottom: 5px;
		line-height: 20px;
	
		&:hover {
			text-decoration: none;
			color: darken(@color-swatch3, 15%);
			border-color: darken(@color-swatch2, 15%);
		}
	}

	.blog-post-publish-date {
		display: block;
		margin-top: 3em;
		margin-bottom: 1em;
	}

	aside.blog-post-sharing {
		margin-bottom: 2em;
	}
}

.blog-post-title-content-wrap, 
.blog-post-metadata {
	margin-bottom: 20px;
}

.blog-post-feature-image-wrap {
	height: 200px;
	background-size: cover;
	background-position: center;
	margin-bottom: 30px;

	img {
		display: none;
	}
}

// E-COMMERCE

// Categories

.widget.ecomcategorieslist {
	ul.product-category-items {
        display: flex;
        flex-wrap: wrap;
        margin: 2em -10px;
        padding: 0;
        list-style: none;

		.responsivecolumns & {
			padding: 0;
		}

		li {
			padding: 5px 10px;

			.responsivecolumns & {
				width: 100%;
			}
		}
			
        a {
            text-decoration: none;
            color: @font-swatch5-color;
            word-break: break-word;
            
            .style--light & {
                color: @font-swatch5-color;
            }
            
            .style--accent & {
                color: @contrast--accent;
            }

            .style--dark & {
                color: @contrast--dark;
            }

            span {
                padding-left: 0.25em;
            }
        }
	}
}

// Product List

.widget.ecomproductslist,
.widget.ecomfeaturedproducts {
	width: auto;
	max-width: none;
	margin-left: 0;
}

.widget.ecomproductslist .ecom-productslist-products,
.widget.ecomfeaturedproducts .ecom-featuredproducts-wrap {
	display: flex;
	flex-wrap: wrap;
	margin: 0 -10px;
	max-width: none;

	// Filter

	.productlist-filter {
	    margin-right: 10px;
	    margin-left: 10px;

		.productlist-display-form {
			text-align: right;

			.form-group {
				width: 100%;
				margin: 0;
			}

			label {
				text-align: left;
				width: 24%;
				float: left;
				min-height: 40px;
				line-height: 40px;

				@media @mobile {
					float: none;
					width: 100%;
					margin-bottom: 0;
				}

				.responsivecolumns & {
					float: none;
					width: 100%;
					margin-bottom: 0;
				}
			}

			select, input {
				width: 75%;

				@media @mobile {
					width: 100%;
				}

				.responsivecolumns & {
					width: 100%;
				}
			}

			.productlist-search {
				position: relative;
			}

			label, select, input {
				@media @mobile {
					width: 100%;
				}
			}
		}
	}
}

.widget.ecomproductslist .productlist-item-count {
	padding-top: 10px;
    padding-bottom: 2em;
    text-align: center;
}

.widget.ecomproductslist .ecom-productslist-product,
.widget.ecomfeaturedproducts .ecom-featuredproducts-product,
.widget.ecomfeaturedproducts .ecom-featuredproducts-wrap .ecom-featuredproducts-product,
.widget.ecomfeaturedproducts .ecom-featuredproducts-wrap.products-2 .ecom-featuredproducts-product {
	display: inline-block;
	width: 100%/3;
	margin-right: 0;
	margin-left: 0;
	margin-bottom: 2em;
	padding: 10px;
	vertical-align: top;
	overflow: visible;

	a:hover {
		text-decoration: none;
	}

	@media @tablet {
		width: 100%/2;
	}

	@media @mobile {
		width: 100%;
	}
	
	.responsivecolumns & {
		width: 100%;
	}
}

// Image

.widget.ecomproductslist .ecom-productslist-image-wrap,
.widget.ecomfeaturedproducts .ecom-featuredproducts-image-wrap,
.widget.ecomfeaturedproducts .ecom-featuredproducts-wrap .ecom-featuredproducts-product .ecom-featuredproducts-image-wrap {
	background-position: center;
}

.widget.ecomproductslist .ecom-productslist-image,
.widget.ecomfeaturedproducts .ecom-featuredproducts-wrap .ecom-featuredproducts-product .ecom-featuredproducts-image {
	display: none;
    height: 100%;
    margin: 0 auto;
}

// Price

.widget.ecomproductslist .ecom-productlist-price,
.widget.ecomfeaturedproducts .ecom-featuredproducts-price {
	border: 1px solid @contrast-color;
	padding: 3px 10px 4px;
	color: @font-swatch5-color;

	.style--light & {
		  color: @font-swatch5-color;
	}

	.style--accent & {
		  color: lighten(@contrast--accent, 15%);
	}

	.style--dark & {
		  color: lighten(@contrast--dark, 15%);
	}
}

// Info

.widget.ecomproductslist .ecom-productlist-info,
.widget.ecomfeaturedproducts .ecom-featuredproducts-info {
	margin-top: 20px;
	text-align: center;
}

.widget.ecomproductslist .productlist-pagination {
	margin-left: 0;
	margin-right: 3%;
	margin-top: 20px;
	margin-bottom: 20px;
	text-align: center;

	.productlist-pagination-pages .productlist-pagination-page {
		padding: 0 10px;
	}
}

// Single Product

.widget.ecomproduct {
	margin-bottom: 3em;

	.ecom-product {
		.ecom-product-images-container {
			@media @tablet {
				width: 100%;
			}
		}

		.ecom-product-info,
		.ecom-product-long-description {
			@media @desktop-small {
				width: 100%;
				display: block;
				padding: 0 !important;
				border: 0 !important;
				margin-bottom: 2em;
			}
		}

		p.ecom-product-price {
			font-size: @font-swatch4-font-size;
		}

		.ecom-product-variation {
			margin-bottom: 1em;

			select {
				appearance: none !important;
				-moz-appearance: none !important;
				-webkit-appearance: none !important;
			}
		}

		.ecom-product-add-to-cart-btn-wrapper,
		.ecom-product-go-to-checkout-btn-wrapper {
			display: inline-block;
        
			@media @mobile {
				display: block;
			}
		}

		.ecom-product-add-to-cart-btn,
		.ecom-product-go-to-checkout-btn-wrapper a {
			@media @mobile {
				margin-bottom: 0;
			}
		}

		.ecom-product-cattag {
			margin: 1.5em 0 0;
			line-height: 36px;
		}

		a.ecom-product-tag-link,
		a.store-category-link {
			padding: 0 0 0 5px;
			text-decoration: none;

			&:hover {
				color: darken(@color-swatch3, 15%);
			}
		}
	}

	.product-product {
		button {
			margin-bottom: 1em;
			text-align: center;
			min-width: 250px;
        
			@media @mobile {
				width: 100%;
			}

			&:before {
				float: none;
			}
		}
	}
}

// Basket

.widget.ecombasket {
	margin-bottom: 2em;

	.ecombasket-pull {
		width: auto;
		max-width: 200px;
		height: 52px;

		p {
			font-family: @font-swatch7-font-family;
			font-size: @font-swatch7-font-size;
			text-transform: uppercase;
			position: relative;
		}
	}

	.ecombasket-list-container {
		ul {
			li {
				border-bottom: 1px solid @contrast-color;

				.ecombasket-item-image {
					width: 85px;
				}

				.ecombasket-item-info {
					.ecombasket-item-title {
						font-family: @font-swatch4-font-family;
						font-size: @font-swatch4-font-size;
						text-transform: uppercase;
						letter-spacing: .1em;
					}

					.ecombasket-remove-button {
						line-height: 10px;
						padding: 10px 20px;
						text-decoration: none;
					}
				}
			}
		}
	}
}

.svg .widget.ecombasket .ecombasket-pull p:before,
.widget.ecomproduct .ecom-product .btn.ecom-product-add-to-cart-btn .text:before {
    content: '\f291';
    float: left;
    margin-top: 0;
    margin-right: 0.5em;
    background-image: none;
    height: 1.5em;
    width: 1.5em;
    font-family: 'FontAwesome';
    text-indent: 0;
    font-size: 0.9em;

	@media @mobile {
   		content: none;
	}
}

// Basket Summary

.basket-summary-items-table {
	border-collapse: collapse;
	width: 100%;

	@media @mobile {
		margin-bottom: 2em;
	}

	.image-wrap {
		background-position: 10000px;
		line-height: 0;
		text-align: center;

		img {
			max-width: 100%;
			max-height: 200px;
		}
	}

	td {
		padding: 10px 0;
	}

	tr {
		&:last-of-type {
			border-bottom: none;
		}
	}

	th {
		padding: 0.5em 0;

		&:last-child {
			text-align: right;
		}
	}

	td, th {
		@media @mobile {
			width: 100%;
			padding: 3px 0;
			text-align: center;
		}
	}

	.image-wrap {
		@media @mobile {
			padding: 10px;
		}
	}

	.basket-summary-pricepu {
		display: block;
		margin-bottom: 1em;
	}

	.basket-summary-amount, 
	.basket-summary-subtotal {
		text-align: right;

		@media @mobile {
			padding: 10px 0;
			text-align: center;
		}
	}

	.basket-summary-subtotal {
		padding: 20px 0;
	}

	.basket-summary-items-column {
		@media @mobile {
			text-align: left;
		}
	}

	.basket-summary-amount-column,
	.basket-summary-details-column {
		@media @mobile {
			display: none;
		}
	}
}

.basket-summary-empty-cta,
.ecombasket-summary-link {
	display: inline-block;
}

.basket-summary-continue-shopping,
.basket-summary-submit {
	margin-left: 0;
	margin-right: 10px;
	margin-bottom: 10px;

	@media @mobile {
		margin-top: 2em;
		margin-right: 0;
		width: 100%;
		text-align: center;
	}

	&:hover {
		text-align: center;
	}
}

.basket-summary-continue-shopping + .basket-summary-submit,
.basket-summary-continue-shopping {
	    margin-left: 0;
		margin-top: 10px;
}