// Theme

// Colour Variables

@bg-color: @color-swatch1;
@contrast-color: @color-swatch2;
@button-color: @color-swatch3;
@heading-color: @color-swatch4;
@paragraph-color: @color-swatch5;
@nav-color: @color-swatch6;
@spare-color: @color-swatch7;

// Typography

body {
	font-smooth: always;
	-moz-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	-webkit-font-smoothing: antialiased;
	text-rendering: geometricPrecision;
}

a {
	cursor: pointer;

	.style--light & {
	  	color: @color--accent;
	}

	.style--accent & {
	  	color: @contrast--accent;
	}

	.style--dark & {
	  	color: @contrast--dark;
	}

	&:hover {
		text-decoration: none;
	}
}

// Typography

h1, h2, h3, h4, h5, h6, a, p, ol, ul {
	word-break: break-word;
}

h1, h2, h3, h4, h5, h6 {
	.style--light & {
	  	color: @contrast--light;
	}

	.style--accent & {
	  	color: @contrast--accent;
	}

	.style--dark & {
	  	color: @contrast--dark;
	}
}

h1 {
	@media @tablet {
		font-size: bkscale(@font-swatch1-font-size,0.85);
		line-height: bkscale(@font-swatch1-line-height,0.85);
	}

	@media @mobile {
		font-size: bkscale(@font-swatch1-font-size,0.7);
		line-height: bkscale(@font-swatch1-line-height,0.7);
	}
}

h2 {
	@media @tablet {
		font-size: bkscale(@font-swatch2-font-size,0.85);
		line-height: bkscale(@font-swatch2-line-height,0.85);
	}

	@media @mobile {
		font-size: bkscale(@font-swatch2-font-size,0.7);
		line-height: bkscale(@font-swatch2-line-height,0.7);
	}
}

h3 {
	@media @tablet {
		font-size: bkscale(@font-swatch3-font-size,0.85);
		line-height: bkscale(@font-swatch3-line-height,0.85);
	}

	@media @mobile {
		font-size: bkscale(@font-swatch3-font-size,0.7);
		line-height: bkscale(@font-swatch3-line-height,0.7);
	}
}

h4 {
	@media @tablet {
		font-size: bkscale(@font-swatch4-font-size,0.85);
		line-height: bkscale(@font-swatch4-line-height,0.85);
	}

	@media @mobile {
		font-size: bkscale(@font-swatch4-font-size,0.7);
		line-height: bkscale(@font-swatch4-line-height,0.7);
	}
}

h5 {
	font-family: @font-swatch4-font-family;
	font-size: @font-swatch5-font-size;
	font-weight: @font-swatch5-font-weight;
	line-height: @font-swatch5-line-height;
	color: @font-swatch4-color;
	letter-spacing: @font-swatch4-letter-spacing;

	@media @tablet {
		font-size: bkscale(@font-swatch5-font-size,0.85);
		line-height: bkscale(@font-swatch5-line-height,0.85);
	}

	@media @mobile {
		font-size: bkscale(@font-swatch5-font-size,0.7);
		line-height: bkscale(@font-swatch5-line-height,0.7);
	}
}

// Normal Text

p, li {
	.style--light & {
	  	color: lighten(@contrast--light, 15%);
	}

	.style--accent & {
	  	color: lighten(@contrast--accent, 15%);
	}

	.style--dark & {
	  	color: lighten(@contrast--dark, 15%);
	}
}

.content .bk-content-text ol {
	list-style-position: inherit;
}

.widget {
	p, span, small, pre, code,
	table, th, td,
	&.content {
		color: @font-swatch5-color;
	
		.style--light & {
			color: @contrast--light;
		}
	
		.style--accent & {
			color: @contrast--accent;
		}
	
		.style--dark & {
			color: @contrast--dark;
		}
	}
}

// Preformatted and Code Text

pre, code {
	display: block;
	margin: 1em 0;
	padding: 0.5em 1em;
	border: none;
	.border-radius(0);
	background-color: darken(@color-swatch1, 10%);
	overflow: auto;
	.paragraph;
	font-family: monospace;

	.style--light & {
		background-color: darken(@color--light, 10%);
	}

	.style--accent & {
		background-color: lighten(@color--accent, 10%);
	}

	.style--dark & {
		background-color: lighten(@color--dark, 10%);
	}
}

code {
	border-left: 1px solid @color-swatch5;

	.style--light & {
		border-color: @color--accent;
	}

	.style--accent & {
		border-color: @contrast--accent;
	}

	.style--dark & {
		border-color: @color--accent;
	}
}

// Blockquote

blockquote {
	border: 1px solid @contrast-color;
	padding: 30px;
	font-style: italic;
	color: @button-color;
	font-size: @font-swatch4-font-size;
	word-break: break-word;

	.style--light & {
		border-color: darken(@color--light, 12%);
		color: @color--accent;
	}

	.style--accent & {
		border-color: darken(@color--accent, 12%);
		color: @contrast--accent;
	}

	.style--dark & {
		border-color: lighten(@color--dark, 10%);
		color: @contrast--dark;
	}

	&:before {
		display: none;
	}
}

// TABLE

table {
	overflow: auto;
	width: 100%;
	border: none;
	border-collapse: separate;
	border-spacing: 0;
	border-top: 1px solid @font-swatch5-color;
	margin: 0;
	hyphens: auto;

	.style--light & {
		border-top-color: @contrast--light;
	}

	.style--accent & {
		border-top-color: @contrast--accent;
	}

	.style--dark & {
		border-top-color: @contrast--dark;
	}
}

// Table Cell

td, th {
	border: none;
	background-color: transparent;
}

th {
	padding: 0.5em;
	border-bottom: 1px solid @font-swatch5-color;
	text-align: left;
	font-family: @font-swatch4-font-family;
	font-weight: @font-swatch4-font-weight;
	font-size: @font-swatch4-font-size;
	line-height: @font-swatch4-line-height;
	letter-spacing: @font-swatch5-letter-spacing;
	color: @font-swatch4-color;

	.style--light & {
		border-bottom-color: @contrast--light;
		color: @contrast--light;
	}

	.style--accent & {
		border-bottom-color: @contrast--accent;
		color: @contrast--accent;
	}

	.style--dark & {
		border-bottom-color: @contrast--dark;
		color: @contrast--dark;
	}
	
	@media @mobile {
		display: none;
	}
	
	.responsivecolumns .columns-two-left &,
	.responsivecolumns .columns-two-right & {
		@media @tablet-horizontal {
			display: none;
		}
	}
	
	.responsivecolumns .columns-three-left &,
	.responsivecolumns .columns-three-middle &,
	.responsivecolumns .columns-three-right &,
	.responsivecolumns .columns-four-first &,
	.responsivecolumns .columns-four-second &,
	.responsivecolumns .columns-four-third &,
	.responsivecolumns .columns-four-fourth & {
		display: none;
	}
}

td {
	border-bottom: 1px solid fade(@font-swatch5-color, 60%);
	padding: 1em 0.5em;
	font-family: @font-swatch5-font-family;
	font-weight: @font-swatch5-font-weight;
	font-size: @font-swatch5-font-size;
	line-height: @font-swatch5-line-height;
	letter-spacing: @font-swatch5-letter-spacing;

	.style--light & {
		border-bottom-color: fade(@contrast--light, 60%);
	}

	.style--accent & {
		border-bottom-color: fade(@contrast--accent, 60%);
	}

	.style--dark & {
		border-bottom-color: fade(@contrast--dark, 60%);
	}
	
	@media @mobile {
		display: block;
		padding: 0 0.5em;
		border-bottom: none;
	}
	
	&:first-child {
		@media @mobile {
			padding: 1em 0.5em 0;
		}
	}
	
	&:last-child {
		@media @mobile {
			padding: 0 0.5em 1em;
			border-bottom: 1px solid fade(@font-swatch5-color, 60%);

			.style--light & {
				border-bottom-color: fade(@contrast--light, 60%);
			}
		
			.style--accent & {
				border-bottom-color: fade(@contrast--accent, 60%);
			}
		
			.style--dark & {
				border-bottom-color: fade(@contrast--dark, 60%);
			}
		}
	}
	
	.responsivecolumns .columns-two-left &,
	.responsivecolumns .columns-two-right & {
		@media @tablet-horizontal {
			display: block;
			padding: 0 0.5em;
			border-bottom: none;
		}

		&:first-child {
			@media @tablet-horizontal {
				padding: 1em 0.5em 0;
			}
		}

		&:last-child {
			@media @tablet-horizontal {
				padding: 0 0.5em 1em;
				border-bottom: 1px solid fade(@font-swatch5-color, 60%);

				.style--light & {
					border-bottom-color: fade(@contrast--light, 60%);
				}
			
				.style--accent & {
					border-bottom-color: fade(@contrast--accent, 60%);
				}
			
				.style--dark & {
					border-bottom-color: fade(@contrast--dark, 60%);
				}
			}
		}
	}
	
	.responsivecolumns .columns-three-left &,
	.responsivecolumns .columns-three-middle &,
	.responsivecolumns .columns-three-right &,
	.responsivecolumns .columns-four-first &,
	.responsivecolumns .columns-four-second &,
	.responsivecolumns .columns-four-third &,
	.responsivecolumns .columns-four-fourth & {
		display: block;
		padding: 0 0.5em;
		border-bottom: none;

		&:first-child {
			padding: 1em 0.5em 0;
		}

		&:last-child {
			padding: 0 0.5em 1em;
			border-bottom: 1px solid fade(@font-swatch5-color, 60%);

			.style--light & {
				border-bottom-color: fade(@contrast--light, 60%);
			}
		
			.style--accent & {
				border-bottom-color: fade(@contrast--accent, 60%);
			}
		
			.style--dark & {
				border-bottom-color: fade(@contrast--dark, 60%);
			}
		}
	}
}

tr:last-child td {
	border-bottom: 1px solid @font-swatch5-color;

	.style--light & {
		border-bottom-color: @contrast--light;
	}

	.style--accent & {
		border-bottom-color: @contrast--accent;
	}

	.style--dark & {
		border-bottom-color: @contrast--dark;
	}
	
	@media @mobile {
		border-bottom: none;
	}
	
	&:last-child {
		@media @mobile {
			border-bottom: 1px solid @font-swatch5-color;

			.style--light & {
				border-bottom-color: @contrast--light;
			}
		
			.style--accent & {
				border-bottom-color: @contrast--accent;
			}
		
			.style--dark & {
				border-bottom-color: @contrast--dark;
			}
		}
	}
	
	.responsivecolumns .columns-two-left &,
	.responsivecolumns .columns-two-right & {
		@media @tablet {
			border-bottom: none;
		}

		&:last-child {
			@media @tablet {
				border-bottom: 1px solid @font-swatch5-color;

				.style--light & {
					border-bottom-color: @contrast--light;
				}
			
				.style--accent & {
					border-bottom-color: @contrast--accent;
				}
			
				.style--dark & {
					border-bottom-color: @contrast--dark;
				}
			}
		}
	}
	
	.responsivecolumns .columns-three-left &,
	.responsivecolumns .columns-three-middle &,
	.responsivecolumns .columns-three-right &,
	.responsivecolumns .columns-four-first &,
	.responsivecolumns .columns-four-second &,
	.responsivecolumns .columns-four-third &,
	.responsivecolumns .columns-four-fourth & {
		border-bottom: none;

		&:last-child {
			border-bottom: 1px solid @font-swatch5-color;

			.style--light & {
				border-bottom-color: @contrast--light;
			}
		
			.style--accent & {
				border-bottom-color: @contrast--accent;
			}
		
			.style--dark & {
				border-bottom-color: @contrast--dark;
			}
		}
	}
}

// CUSTOM PAGE

body.edit .widget.navigation, body.edit .widget.extendednavigation {
	overflow: visible;
}

// HEADER & #BK-NAV

.bk-header {
	padding: 40px;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	z-index: 100;
	
	@media @tablet {
		background-color: @bg-color;
		display: inline-block;
	    padding: 10px 30px;
		position: relative;
		width: 100%;
	}
	
	.companyheader {
		display: inline-block;
		vertical-align: middle;
		padding-right: 30px;
		width: 50%;

		@media @tablet {
			display: block;
			width: 80%;
			padding-right: 0;
			float: left;
		}
	}
}

.bk-pt-default {
	.bk-header {
		position: relative;
	}

	.main {
		padding: 60px 0;

		@media @tablet {
			padding: 40px 0;
		}
	}
}

// FOOTER

.bk-footer {
	background-color: @spare-color;
	color: lighten(@paragraph-color, 20%);
	padding: 2em 0;

	.widget.profile {
		.bk-profile-socialicons {
			margin: 0;

			span a {
				background-color: @contrast-color;

				&:hover {
					background-color: @button-color;
				}
			}
		}
		
        form fieldset input {
            width: 100%;
        }

        form fieldset button {
            word-break: break-word;
            height: auto;
            width: auto;

			@media @mobile {
				width: 100%;
			}
        }
	}
}

.footerright,
.footerleft {
	display: inline-block;
	vertical-align: middle;
	width: 49.5%;

	@media @mobile {
		width: 100%;
		text-align: center !important;
		padding: 10px 0;
	}
}

.footerright {
	text-align: right;
}

.bk-footer h1,
.bk-footer h2,
.bk-footer h3,
.bk-footer h4 {
	color: @nav-color;
	padding-bottom: 1em;
}

.gdpr-footer {
    background-color: @spare-color;
    padding: 15px 0;
    
    a {
        padding: 0 10px;
		color: @nav-color;
    }
}

// CONTENT

.content {
	-moz-hyphens: auto;
	hyphens: auto;
}

.widget.content {
	padding: 0;

	span.expand {
		font-family: @font-swatch7-font-family;
		margin: 10px 0;
		cursor: pointer;
		display: inline-block;
		letter-spacing: .1em;
		text-transform: uppercase;
	}
	
	.expand .more,
	.expand .less {
		&:hover {
			color: @heading-color;
		}
	}
}

// GENERAL FORMS

input,
textarea,
select,
.contactform input,
.contactform textarea,
.signupform fieldset input,
.signupform fieldset input.email,
.advancedcontactform input,
.advancedcontactform textarea,
.userregistration fieldset input,
.widget.profile form fieldset input,
.blogsearch input.blog-search-input,
.productlist-filter .productlist-search input,
.widget input[type="text"],
.widget input[type="email"],
input:-webkit-autofill,
input:-webkit-autofill:focus {
	background: @bg-color;
	border: none;
	border-bottom: 1px solid @contrast-color;
	margin-bottom: 1em;
	outline: none;
	padding: 8px 0;
	text-indent: 0;
	.transition(all, 0.5s, ease);
	appearance: none;
	-moz-appearance: none;
	-webkit-appearance: none;

	.style--light & {
		background-color: @color--light;
		border-color: darken(@color--light, 12%);
	  	color: lighten(@contrast--light, 15%);
	}

	.style--accent & {
		background-color: @color--accent;
		border-color: darken(@color--accent, 12%);
	  	color: lighten(@contrast--accent, 15%);
	}

	.style--dark & {
		background-color: @color--dark;
		border-color: lighten(@color--dark, 10%);
	  	color: lighten(@contrast--dark, 15%);
	}

	&:hover {
		.transition (all, 0.5s, ease);
		border-bottom: 1px solid darken(@contrast-color, 10%);

		.style--light & {
			border-color: darken(@color--light, 22%);
		}

		.style--accent & {
			border-color: darken(@color--accent, 22%);
		}

		.style--dark & {
			border-color: lighten(@color--dark, 20%);
		}
	}

	&:focus {
		.transition (all, 0.5s, ease);
		border-bottom: 1px solid @button-color;
		box-shadow: 0 1px 0 0 @button-color;

		.style--light & {
			border-color: @color--accent;
			box-shadow: 0 1px 0 0 @color--accent;
		}

		.style--accent & {
			border-color: @contrast--accent;
			box-shadow: 0 1px 0 0 @contrast--accent;
		}

		.style--dark & {
			border-color: @contrast--dark;
			box-shadow: 0 1px 0 0 @contrast--dark;
		}
	}
}

input,
select {
	height: 40px;
}

textarea {
	height: 100px;
}

label,
.contactform label,
.advancedcontactform label {
	display: block;
	font-family: @font-swatch5-font-family;
	font-size: @font-swatch5-font-size;
	font-weight: @font-swatch5-font-weight;
	line-height: @font-swatch5-line-height;
	color: @font-swatch5-color;
	letter-spacing: @font-swatch5-letter-spacing;
	margin-bottom: 1em;
	padding: 0;

	.style--light & {
	  	color: lighten(@contrast--light, 15%);
	}

	.style--accent & {
	  	color: lighten(@contrast--accent, 15%);
	}

	.style--dark & {
	  	color: lighten(@contrast--dark, 15%);
	}
}

select {
	cursor: pointer;
	position: relative;
	border-radius: 0;
	background: image('/images/arrow-small-down.svg') no-repeat ~"calc(100% - 12px)" center;
	background-size: 24px;
}

::-webkit-input-placeholder {
	.style--light & {
		color: lighten(@contrast--light, 15%);
	}

	.style--accent & {
		color: lighten(@contrast--accent, 15%);
	}

	.style--dark & {
		color: lighten(@contrast--dark, 15%);
	}
}
:-moz-placeholder {
	.style--light & {
		color: lighten(@contrast--light, 15%);
	}

	.style--accent & {
		color: lighten(@contrast--accent, 15%);
	}

	.style--dark & {
		color: lighten(@contrast--dark, 15%);
	}
}
::-moz-placeholder {
	.style--light & {
		color: lighten(@contrast--light, 15%);
	}

	.style--accent & {
		color: lighten(@contrast--accent, 15%);
	}

	.style--dark & {
		color: lighten(@contrast--dark, 15%);
	}
}
:-ms-input-placeholder {
	.style--light & {
		color: lighten(@contrast--light, 15%);
	}

	.style--accent & {
		color: lighten(@contrast--accent, 15%);
	}

	.style--dark & {
		color: lighten(@contrast--dark, 15%);
	}
}

// ADVANCED CONTACT FORM

.advancedcontactform__form-group,
.contactform .form-group {
	margin-bottom: 1em;

	&:last-child {
		margin-bottom: 0;
	}
}

.option-item.option-item--radio,
.option-item.option-item--checkbox,
.widget .form [class*="form-group--terms"] {
	width: 100%;
	position: relative;

	label {
		cursor: pointer;
		margin-left: 40px;
		margin-bottom: 1em;
		padding: 0;
		display: inline-block !important;
		line-height: 25px;
		position: relative;
		word-break: break-word;

		&:before {
			content: '';
			position: absolute;
			width: 25px;
			height: 25px;
			background-color: @bg-color;
			border: 1px solid @contrast-color;
			left: -40px;
			top: 0;
			.transition(all, 0.3s, ease);

			.style--light & {
				background: @color--light;
				border-color: darken(@color--light, 12%);
			}

			.style--accent & {
				background: @color--accent;
				border-color: darken(@color--accent, 12%);
			}

			.style--dark & {
				background: @color--dark;
				border-color: lighten(@color--dark, 10%);
			}
		}

		&:hover:before {
			border: 1px solid darken(@contrast-color, 15%);

			.style--light & {
				background: @color--light;
				border-color: darken(@color--light, 22%);
			}

			.style--accent & {
				background: @color--accent;
				border-color: darken(@color--accent, 22%);
			}

			.style--dark & {
				background: @color--dark;
				border-color: lighten(@color--dark, 20%);
			}
		}

		&:after {
			content: '';
			position: absolute;
			width: 23px;
			height: 23px;
			opacity: 0;
			border: 2px solid @button-color;
			background-color: white;
			left: -40px;
			top: 0px;
			.transition(all, 0.3s, ease);

			.style--light & {
				background-color: @color--light;
				border-color: @color--accent;
			}

			.style--accent & {
				background-color: @color--light;
				border-color: @contrast--accent;
			}

			.style--dark & {
				background-color: @color--light;
				border-color: @contrast--dark;
			}
		}
	}

	input[type="checkbox"],
	input[type="radio"] {
		visibility: hidden;
		position: absolute;

		&:checked + label:after {
			opacity: 1;
		}
	}
}

.option-item.option-item--checkbox,
.widget .form [class*="form-group--terms"] {
	label:after {
		background: image('/images/hs-icon_check-l.svg') no-repeat center;
		background-size: 25px;
	}
}

.option-item.option-item--radio {
	label {
		&:before {
			.border-radius(20px);
		}

		&:after {
			background: image('/images/radio.svg') no-repeat center;
			background-size: 17px;
			.border-radius(20px);
		}
	}
}

// Registration Form

.widget.userregistration {
	fieldset {
		margin: 0 auto;
		padding: 0;
		border: none;
		max-width: 400px;
		
		@media @mobile {
			max-width: none;
		}

		.responsivecolumns & {
			max-width: none;
		}

		input {
			width: 100%;
			box-sizing: border-box;
		}

		.error {
			padding: 20px 0 0;

			&[style*="display: block"] {
				padding: 20px 0;
			}

			&[style*="display: none"] {
				display: block !important;
			}
		}
	}
}

// Basket Summary

.basket-summary-items-table {
	border-collapse: collapse;
	width: 100%;

	.image-wrap {
		background-position: 10000px;
		line-height: 0;
		text-align: center;
		padding: 30px;

		img {
			max-width: 100%;
			max-height: 200px;
		}
	}

	td {
		padding: 10px 0;
	}

	tr {
		border-bottom: solid 1px darken(@color-swatch1, 10%);

		&:last-of-type {
			border-bottom: none;
		}
	}

	.basket-summary-subtotal {
		padding: 20px;
	}
}

.basket-summary-amount,
.basket-summary-subtotal {
	text-align: center;
}

.basket-summary-quantitybtn {
	button.btn {
		padding: 7px 18px;
	}
}

.basket-summary-items-column {
	width: 30%;
}

.quantity-number {
	display: inline-block;
	min-width: 40px;
	text-align: center;
}

// Clearfix

.clearfix:before,
.clearfix:after {
	content: " ";
	display: table;
}

.clearfix:after {
	clear: both;
}

.clearfix {
	*zoom: 1;
}